<h1>Transforminating dataset <%= @id %></h1>

<script type="text/javascript">
  var datasetId = "<%= @id %>";
</script>
<script src="<%= static_path(@conn, "/js/app.js") %>"></script>


<textarea rows="20" cols="120" id="transform"></textarea>
<a href="javascript:void(0)" id="do-the-thing">Do the thing</a>
<table></table>